.item{
    margin:50px  auto 150px   160px;
   display: inline-block;
}
 
.h1{
    text-align: center;
    margin-top:40px;
    font-size:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.item span{
    margin:auto auto auto 115px;
}